* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(210px, auto);
}
div {
  border: 2px solid black;
}
.header {
  background-color: darkgray;
  color: aqua;
}
