.cart {
  position: fixed;
  top: 70px; /* Ajuste conforme necessário */
  right: 20px; /* Ajuste conforme necessário */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: none; /* Inicialmente oculto */
}

.cart-button {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* Estilize o ícone do carrinho conforme necessário */
.cart-button img {
  width: 30px;
  height: 30px;
}
